*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.conteiner{
    margin: 0 auto;
    height: 615px;
    max-width: 856px;
    font-size: 30px;

}
.wrapped{
    height: 552px;
    background-color: #00BDC9;
}
.head_conteiner{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 35px;
}
.menu_link{
    text-decoration: none;
    font-size: 24px;
    color: black;
}
.head_menu_item{
    display: inline-block;
    margin-right: 72px;

}
.img{
    display: block;
    margin: 0 auto;
    padding: 92px 0px;
    text-align: center;
}
.head_menu_item li:last-child {
    margin-right: 0;
}
.h2_conteiner{
    font-size: 55px;
    padding-top: 88px;
    text-align: center;
    
}
.text{
    text-decoration: none;
    color: #00BDC9;
}
.text_div{
    height: 856px;
    margin: 0 auto;
    padding-top: 40px;
}
.listed{
    text-decoration: none;
    padding-top: 24px;
}
ol {
    padding-left: 20px;
    font-size: 25px;
}

li {
    margin-bottom: 10px;
}
.button{
    background-color:#04959E ;
    padding: 10px 24px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 145px;
    height: 44px;
    margin: 50px 355px 101px;
    font-size: 20px;
}
.footer{
    text-align: center;
    border-top: 1px solid black;
    font-size: 27px;
    padding: 16px 0px;

}